@charset "UTF-8";

.view-page {
  height: 100vh;
  weight: 100vw;
  margin: 0 5%;
  display: flex;
}

.menu-bar {
  width: 20%;
}

.menu-list li {
  color: #2d8fdd;
  border-left: solid 6px #2d8fdd;
  background: #f1f8ff;
  margin-bottom: 3px;
  line-height: 1.5;
  padding: 0.5em;
  list-style: none;
}

.contents {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 50%;
}

.content {
  margin: 0 3%;
}

.report-form {
  border-bottom: 5px solid gray;
  height: 100px;
}

.infomation {
  overflow: scroll;
  height: calc(100vh - 100px);
}

.infomation::-webkit-scrollbar {
  display: none;
}

.content-table {

}

.comments {
  border-top: 1px solid gray;
  display: none;
}

.comment-form-open {
  font-size: 12px;
}

.content-each {
  border-bottom: 2px solid gray;
}

.option-bar {
  width: calc(100% - 50% - 20%);
}

.comment-edit {
  display: none;
}