<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset-context/cssreset-context-min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<meta charset="UTF-8">
<link th:href="@{/css/style.css}" rel="stylesheet">
<title>TOP</title>
</head>
<body>
    <div class="view-page">

        <div class="menu-bar">
            <ul class="menu-list">
                <li>ホーム</li>
                <li>話題を検索</li>
                <li>通知</li>
                <li>メッセージ</li>
                <li>ブックマーク</li>
                <li>リスト</li>
                <li>プロフィール</li>
                <li>もっと見る</li>
                <li id="hold">返信を固定表示する</li>
            </ul>
        </div>

        <div class="contents">
            <div class="content">
                <div class="report-form">
                    <form method="post" action="/add" th:object="${formModel}">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">投稿内容</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="4">
                                        <input style="width: 90%;" type="text" name="content" th:value="*{content}" maxlength="200" />
                                    </td>
                                    <td scope="col" style="width: 10%">
                                        <input class="btn btn-success" type="submit" value="投稿" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

                <!-- 投稿一覧 -->
                <div class="infomation">
                    <div id="info" class="content-each" th:each="content : ${contents}">
                        <div class="test">
                            <table class="table table-borderless content-table">
                                <thead>
                                    <tr>
                                        <th scope="col" th:text="${content.id}" />
                                        <th scope="col" th:text="${content.getStrUpdatedDate()}" />
                                        <th scope="col" th:text="${content.getStrCreatedDate()}" />
                                        <th scope="col">
                                            <a th:href="@{/edit/{id}(id=${content.id})}">
                                                <button class="btn btn-primary">編集</button>
                                            </a>
                                        </th>
                                        <th scope="col">
                                            <form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
                                                <input class="btn btn-danger" type="submit" value="削除">
                                            </form>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="5" th:text="${content.content}" />
                                    </tr>
                                </tbody>
                            </table>
                            <div id="comment-form" class="comment-form-open">
                                <p class="open">▼返信</p>
                                <p style="display: none;" class="content-id" th:text="${content.id}" />

                                <div class="comments">
                                    <div class="form">
                                        <form method="post" action="/comment/add" th:object="${commentFormModel}">
                                            <input type="hidden" name="reportId" th:value="${content.id}">
                                            <input type="text" name="text" th:value="*{text}" style="width: 80%;">
                                            <button class="btn btn-success" style="margin-left: 1%;">返信</button>
                                        </form>
                                    </div>

                                    <div class="messages">
                                        <table class="table">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col" style="width: 5%;">ID</th>
                                                    <th scope="col" style="width: 75%;">Comment</th>
                                                    <th scope="col" style="width: 10%" />
                                                    <th scope="col" style="width: 10%" />
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <div class="message" th:each="comment : ${comments}">
                                                    <tr th:if="${comment.reportId == content.id}">
                                                        <th scope="row" th:text="${comment.id}" />
                                                        <td th:text="${comment.text}" />
                                                        <th>
                                                            <a th:href="@{/comment/edit/{id}(id=${comment.id})}">
                                                                <button class="btn btn-primary px-0">編集</button>
                                                            </a>
                                                        </th>
                                                        <th>
                                                            <form th:action="@{/comment/delete/{id}(id=${comment.id})}" th:method="delete">
                                                                <input class="btn btn-danger px-0" type="submit" value="削除">
                                                            </form>
                                                        </th>
                                                    </tr>

                                                </div>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>

        <div class="option-bar" style="background-color: gray;">

            <div class="serch-form">
                <form method="get" action="./" th:object="${serchForm}">
            <input type="date" name="start" th:value="*{start}" />
            ～
            <input type="date" name="end" th:value="*{end}" />
            <input type="submit" value="絞込">
        </form>
            </div>


            <div class="comment-edit">
                <div style="background-color: red;" th:include="comment-edit"></div>
            </div>
        </div>

    </div>

    <script th:src="@{/js/script.js}"></script>
</body>
</html>